@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&display=swap");
@font-face {
  font-family: "GT-Walsheim";
  src: url("../src/fonts/GT-Walsheim-Thin-Trial.woff2");
}
@font-face {
  font-family: "GT-Walsheim-Bold";
  src: url("../src/fonts/GT-Walsheim-Bold-Trial.woff2");
}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: "Roboto Mono" !important;
  font-size: 14px !important;
  line-height: 1.4 !important;
}

#CodeColumn button {
  background: #ffffff17 !important;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "GT-Walsheim", sans-serif;
  margin: 0;
  line-height: 1.3;
}

main {
  overflow: hidden;
  position: relative;
  background: white;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 15px;
  color: #171717;
  font-family: "GT-Walsheim", sans-serif;
}

@media (max-width: 500px) {
  .projectheader {
    font-size: 32px !important;
    text-align: center !important;
    max-width: 300px;
  }
}

/* Large desktop */
/* @media (min-width: 1200px) {
} */

/* Portrait tablet to landscape and desktop */
/* @media (min-width: 768px) and (max-width: 979px) {
} */

/* Landscape phone to portrait tablet */
/* @media (max-width: 767px) {
} */

/* Landscape phones and down */
/* @media (max-width: 480px) {
} */

/* Large desktop */
/* @media (min-width: 1200px) {
} */
