@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");

:root {
  --white: #fff;
  --softwhite: #fbf8f8;
  --lightgrey: #e1e1e1;
  --accent: #ff285e;
  --accentsoft: #fc5982;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background: var(--softwhite);
  margin: 0;
  line-height: 1.3;
}

main {
  overflow: hidden;
  position: relative;
}
p::selection,
h1::selection {
  background: #fc5982;
  color: white;
}

p::-moz-selection,
h1::-moz-selection {
  background: #fc5982;
  color: white;
}

h1 {
  font-size: 58px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  line-height: 1;
}
p,
li {
  line-height: 15px;
  color: #171717;
}
a {
  color: var(--accent);
  text-decoration: none;
}

li {
  padding-bottom: 0.5rem;
}

ul li::before {
  content: ""; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--accent); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 10px; /* Also needed for space (tweak if needed) */
  height: 8px;
  vertical-align: middle;
  margin-left: 0em; /* Also needed for space (tweak if needed) */
  margin-right: 5px; /* Also needed for space (tweak if needed) */
  background-image: url("../../src/images/bullet2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /* filter: drop-shadow(rgba(0, 0, 0, 0.02) 0px 2.8px 1px)
    drop-shadow(rgba(0, 0, 0, 0.027) 0px 6.7px 3px)
    drop-shadow(rgba(0, 0, 0, 0.035) 0px 12.5px 5px)
    drop-shadow(rgba(0, 0, 0, 0.043) 0px 22.3px 8px)
    drop-shadow(rgba(0, 0, 0, 0.05) 0px 41px 15px)
    drop-shadow(rgba(0, 0, 0, 0.07) 0px 100px 34px); */
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.04),
    0 22.3px 17.9px rgba(0, 0, 0, 0.06), 0 100px 80px rgba(0, 0, 0, 0.1);
}

/* Project: Loader */
input[type="number"],
select {
  width: 80px;
  padding: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  color: #5a5a5a;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  /* filter: drop-shadow(rgba(0, 0, 0, 0.02) 0px 2.8px 1px)
    (rgba(0, 0, 0, 0.027) 0px 6.7px 3px)
    drop-shadow(rgba(0, 0, 0, 0.035) 0px 12.5px 5px)
    drop-shadow(rgba(0, 0, 0, 0.043) 0px 22.3px 8px)
    drop-shadow(rgba(0, 0, 0, 0.05) 0px 41px 15px)
    drop-shadow(rgba(0, 0, 0, 0.07) 0px 100px 34px); */
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.04),
    0 22.3px 17.9px rgba(0, 0, 0, 0.06), 0 100px 80px rgba(0, 0, 0, 0.1);
}

input[type="number"]:focus,
select:focus {
  border: 1px solid #f1f1f1;
  outline: none;
  filter: none;
}

.wrap-labelinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

/* GENERAL */
.scroller {
  width: fit-content;
  height: fit-content;
  bottom: 25px;
  position: fixed;
  left: 50%;
  z-index: 3;
  margin-left: -13px;
}
.subject-framer {
  grid-area: 1 / 1 / 2 / 1;
  padding-bottom: 1rem;
}

.h1-projects {
  padding-bottom: 1rem;
  text-align: center;
}

.subject-bio {
  grid-area: 1 / 2 / 2 / 3;
  padding-bottom: 1rem;
}

.carddescriptionleft {
  align-self: start;
  grid-area: 2/ 1 / 3 / 1;
  display: flex;
  flex-direction: column;
}

.carddescriptionright {
  align-self: start;
  grid-area: 2/ 2 / 3 / 2;
  display: flex;
  flex-direction: column;
}

.copy {
  font-size: 14px;
  line-height: 1.8;
  text-align: justify;
  letter-spacing: 0.1px;
  text-justify: inter-word;
  max-width: 700px;
}

.learnmore {
  display: inline-block;
  user-select: none;
  color: #022435;
  width: max-content;
  font-weight: 600;
  font-size: 0.9em;
  z-index: 100;
  cursor: pointer;
}

.learnmore--projectcards {
  letter-spacing: 1px;
  color: #022435;
  width: max-content;
  font-weight: 900;
  font-size: 0.7rem;
  padding: 0rem 0em 1rem 1rem;
}

.Header-Navigation {
  z-index: 10;
}

.Cont-Navigation {
  bottom: 0px;
  position: fixed;
  left: 10%;
}

/* SECTIONS */

/* OTHERS */

.Header-Navigation {
  display: flex;
  justify-content: flex-end;
}

.LinkButton {
  color: black;
  font-size: 13px;
}

.LinkButton {
  box-align: center;
}
/* INTRODUCTION */

.grid_intro {
  height: 60vh;
  justify-items: start;
  align-content: start;
  margin-top: 30vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
}

.grid_intro h1 {
  color: #171717;
  text-align: start;
}

.slash {
  grid-area: 1 / 1 / 3 / 1;
  justify-self: end;
}
.hi {
  grid-area: 1 / 2 / 2 / 2;
  justify-self: start;
}

.name {
  grid-area: 1 / 1 / 2 / 1;
}

.titles {
  grid-area: 2 / 1 / 2 / 1;
}

.section_project #ProjectsBlob:nth-child(2) .projectdescriptions > p {
  display: none;
}
.section_project #ProjectsBlob:nth-child(2) .projectdescriptions div {
  padding-top: 0 !important;
}

.intro-blob {
  position: absolute;
  z-index: -1;
}

.about {
  grid-area: 2 / 1 / 2 / 1;

  justify-self: start;
}

.copy-intro {
  font-family: Lato, serif;
  color: rgb(28, 28, 28);
  font-size: 20px;
  vertical-align: middle;
  line-height: 30px;
  text-align: start;
  max-width: 550px;
}

.subcopy-intro {
  margin-top: 1rem;
  font-family: Lato, serif;
  color: #181818;
  font-size: 12px;
  line-height: 24px;
  text-align: start;
  max-width: 500px;
}

.contactlinks {
  margin-top: 1rem;
  font-family: Lato, serif;
  color: #181818;
  font-size: 12px !important;
  line-height: 24px;
}

.copy-projects {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
}

.break {
  display: none;
}

/* EDUCATION */
.grid-Education {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  justify-items: start;
}

.item-Edu {
  height: 300px;
  width: 100px;
}

/* WORK */
.bio {
  min-height: 100vh;
  max-height: 700px;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  align-self: center;
  justify-content: center;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 90px;
  padding: 4em;
}

.imagecard {
  justify-self: center;
  align-self: center;
  max-width: 650px;
}

.imagecard img {
  /* filter: drop-shadow(rgba(0, 0, 0, 0.02) 0px 2.8px 1px)
    drop-shadow(rgba(0, 0, 0, 0.027) 0px 6.7px 3px)
    drop-shadow(rgba(0, 0, 0, 0.035) 0px 12.5px 5px)
    drop-shadow(rgba(0, 0, 0, 0.043) 0px 22.3px 8px)
    drop-shadow(rgba(0, 0, 0, 0.05) 0px 41px 15px)
    drop-shadow(rgba(0, 0, 0, 0.07) 0px 100px 34px); */
  border: 8px solid #fbf8f8;
  background-size: cover;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.04),
    0 22.3px 17.9px rgba(0, 0, 0, 0.06), 0 100px 80px rgba(0, 0, 0, 0.1);
}

.imgleft {
  grid-area: 1 / 1 / 1 / 1;
}

.imgright {
  grid-area: 1 / 2 / 1 / 2;
  background: #edf0f1;
}

.img-groningen {
  /* height: auto; */
  width: 100%;
  position: relative;
}

.imageplaceholder {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: scale-down;
}

.copy_projecttitle {
  color: white;
  min-width: 100px;
  padding: 2rem 0rem 1rem 2rem;
  font-size: 28px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: 600;
}

/* FRAMER */
.framer {
  min-height: 700px;
  display: flex;
  justify-content: center;
}

.Framer .learnmore {
  grid-area: 2 / 1 / 2 / 1;
  float: right;
}

.img-framer {
  /* height: auto; */
  width: 100%;
  position: relative;
}

/* BIO */
.bio .learnmore,
.framer .learnmore {
  float: left;
}

/* PROJECTS */
.projects {
  /* background: #efefef; */
  align-self: center;
  padding: 4em 0em;
  justify-content: center;
}

.section_project {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0rem;
}

.card_lg_projectone,
.card_lg_projectthree {
  position: relative;
  display: flex;
  margin: 0 auto;
  background: #f3f3f3;
  /* box-shadow: 0 0.7px 5px -5px rgba(0, 0, 0, 0.017),
    0 1.9px 13.8px -5px rgba(0, 0, 0, 0.025),
    0 4.2px 33.2px -5px rgba(0, 0, 0, 0.033),
    0 10px 110px -5px rgba(0, 0, 0, 0.05); */
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.04),
    0 22.3px 17.9px rgba(0, 0, 0, 0.06), 0 100px 80px rgba(0, 0, 0, 0.1);
}

.card_lg_projecttwo,
.card_lg_projectfour {
  position: relative;
  display: flex;
  margin: 0 auto;
  background: #f3f3f3;
  /* box-shadow: 0 0.7px 5px -5px rgba(0, 0, 0, 0.017),
    0 1.9px 13.8px -5px rgba(0, 0, 0, 0.025),
    0 4.2px 33.2px -5px rgba(0, 0, 0, 0.033),
    0 10px 110px -5px rgba(0, 0, 0, 0.05); */
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.04),
    0 22.3px 17.9px rgba(0, 0, 0, 0.06), 0 100px 80px rgba(0, 0, 0, 0.1);
}

.sm_projectdescriptions {
  font-size: 14px;
  color: var(--CopyGrey, #969696);
  line-height: 1.5;
  text-align: justify;
  min-width: fit-content;
  margin: 0rem 1rem 1rem 1rem;
}

.card_sm_projectone {
  position: relative;
  margin: 0 auto;
}

.card_sm_projecttwo {
  position: relative;
  display: flex;
  margin: 0 auto;
}

.card_sm_projectthree {
  position: relative;
  display: flex;
  margin: 0 auto;
}

.card_sm_projectfour {
  position: relative;
  display: flex;
  margin: 0 auto;
}

.wrap_imagecardone {
  z-index: 2;
}

.textcontainer {
  position: relative;
  z-index: 10;
  flex-direction: column;
  display: flex;
  align-items: start;
  justify-content: flex-start;
}

.wrapper--project-1-heading {
  display: inline-grid;
  width: 100%;
}

.subtitle_projects {
  color: #042639;
  font-size: 9px;
  grid-area: 2 / 2 / 2 / 2;
  letter-spacing: 0.5px;
  line-height: 1.9;
  font-weight: 600;
  padding-bottom: 2rem;
  font-style: normal;
}

.role_paragraph {
  font-weight: 400;
}

.project_2 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  background: #ecebe8;
  height: 450px;
  width: 400px;
}

.project_3 {
  grid-area: 3 / 3 / 4 / 4;
  background: #ecebe8;
  height: 450px;
  width: 400px;
}

.projecttitle {
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.9;
  font-weight: 600;
}

.copy_projectlabel {
  color: #ff2c64;
  background: white;
  margin: 0rem 0rem 1rem 2rem;
  padding: 0px 2px;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1.9;
  font-weight: 600;
  font-style: normal;
}

.project1description {
  grid-area: 3 / 2 / 3 / 2;
}

.project2description {
  grid-area: 2 / 2 / 3 / 3;

  height: auto;
  width: 400px;
}

.project3description {
  grid-area: 2 / 3 / 3 / 4;

  height: auto;
  width: 400px;
}

ul {
  list-style: none; /* Remove default bullets */
  padding-top: 0.5em;
}

.projectdescriptions {
  color: white;
  font-size: 14px;
  padding: 1rem 2rem 0rem 2rem;
  line-height: 1.5;
  text-align: justify;
  min-width: 300px;
}

.footer {
  background: #ffffff;
  display: inline-flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  height: 70px;
}

.footer li::before {
  content: none;
}

.footer-col {
  text-align: center;
  flex: 1;
}

.footer p {
  font-size: 12px;
  line-height: 170%;
  letter-spacing: -0.02em;
  color: #626265;
  margin: 8px 0 8px;
}
.container {
  max-width: 600px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
}

.grid_intro {
  padding-top: 3rem;
}
.wrap_contact {
  display: flex;
  justify-content: center;
  margin: 8px 0 8px;
}

.wrap_contactintro {
  display: flex;
  justify-self: start;
  justify-content: center;
  grid-area: 4 / 2 / 4/ 2;
  padding-top: 1rem;
}

.icon {
  padding: 0px 5px;
  width: 30px;
  height: 30px;
}

#svg-github {
  padding-top: 2px;
}

@media (max-width: 767px) {
  input[type="number"],
  select {
    padding-left: 10px;
  }
  .flexwrapper-blob {
    flex-direction: column;
  }
  .textcontainer {
    margin: 0 auto;
    width: 100vw !important;
  }

  .projectdescriptions {
    min-width: unset;
  }
}

@media (max-width: 500px) {
  #ladimoraimgwrapper {
    width: 100vw !important;
    height: auto !important;
  }
  .break {
    display: inline;
  }
  .projectheader {
    font-size: 32px !important;
    text-align: center !important;
    max-width: 300px;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  #ladimoraimgwrapper {
    width: 80vw !important;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #ladimoraimgwrapper {
    width: 70vw !important;
  }
}

/* Large desktop */
/* @media (min-width: 1200px) {
} */

/* Portrait tablet to landscape and desktop */
/* @media (min-width: 768px) and (max-width: 979px) {
} */

/* Landscape phone to portrait tablet */
/* @media (max-width: 767px) {
} */

/* Landscape phones and down */
/* @media (max-width: 480px) {
} */

/* Large desktop */
/* @media (min-width: 1200px) {
} */

/* If a device can't hover, then only show the mobile project layout */

/* Show thinner frames around images */
@media (min-width: 768px) and (max-width: 1200px) {
  .grid {
    padding: 1.5rem;
    column-gap: 5%;
  }

  .grid--bio {
    grid-template-columns: 50% auto;
  }

  .grid--framer {
    grid-template-columns: auto 50%;
  }
}

@media (max-width: 376px) {
  .Inner-Wave1 {
    right: -70px;
    top: -75px;
    transform: rotate(-10deg);
  }

  .Inner-Wave2 {
    right: -130px;
    transform: rotate(-10deg);
    top: -80px;
  }
}

@media (min-width: 768px) {
  .imageplaceholder {
    height: 100%;
  }
}
/* try out 767 vs 1025 */
@media (max-width: 767px) {
  .wrap_imagecardone {
    z-index: 2;
    width: 200px !important;
    position: relative;
    margin: 0 auto;
  }

  /* .projects_desktop {
    display: none;
  } */

  .projects {
    padding: 4em 0em;
  }

  .sm_overlay {
    position: relative;
    top: -5px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    background: #f3f3f3;
    padding: 1rem 0rem;
    /* box-shadow: 0 0px 2.9px rgba(0, 0, 0, 0.016),
      0 5.6px 9.8px rgba(0, 0, 0, 0.024), 0 75px 44px rgba(0, 0, 0, 0.04); */
    box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.04),
      0 22.3px 17.9px rgba(0, 0, 0, 0.06), 0 100px 80px rgba(0, 0, 0, 0.1);
  }

  .sm_copy_projecttitle {
    min-width: fit-content;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.9;
    font-weight: 600;
    margin-left: 1rem;
    grid-area: 1 / 1 / 1 / 1;
  }

  .sm_copy_projectlabel {
    min-width: fit-content;
    font-size: 0.5rem;
    letter-spacing: 0.5px;
    line-height: 1.9;
    font-weight: 600;
    margin-right: 1rem;
    grid-area: 1 / 2 / 1 / 2;
    justify-self: end;
    align-self: center;
  }

  /* the h1 for the main content sections */
  .subject {
    grid-area: 1/1/1/1;
    opacity: 1;
    font-size: 40px;
    justify-self: start;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
  }

  .proj_subject {
    padding: 1.5rem 1.5rem;
    text-align: center;
  }

  .description {
    grid-area: 2 / 1 / 3 / 1;
    text-align: center;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }

  .learnmore {
    float: none;
    grid-area: 4 / 1 / 4 / 1;
    justify-self: center;
  }

  .imagecard {
    height: auto;
    background: none;
    /* width: 90%; */
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    justify-content: center;
  }
  .container {
    width: auto;
  }

  .grid_intro p {
    font-size: 15px;
    line-height: 24px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    padding: 0rem;
  }

  h1 {
    font-size: 36px;
  }
  .grid_intro {
    row-gap: 0.5rem;
    padding: 0em 1em 0em 1em;
    width: auto;
    grid-template-rows: repeat(4, auto);
  }

  .titles {
    width: 100%;
    grid-area: 2 / 1 / 2 / 1;
    /* align-self: center; */
  }
  .slash {
    grid-area: 1 / 1 / 3 / 1;
  }
  .name {
    grid-area: 1 / 1 / 2 / 1;
  }
  .about {
    grid-area: 3 / 1 / 4 / 1;
    text-align: justify;
    width: 100%;
    justify-self: start;
  }
  .role_paragraph {
    font-size: 10px;
    justify-self: end;
  }
  .Cards {
    grid-template-columns: 1fr;
  }

  .bio {
    display: inherit;
    max-height: none;
    padding: 3rem 0rem;
  }

  .framer {
    padding: 3rem 0rem;
  }

  .copy {
    font-size: 14px;
    opacity: 1;
  }

  .projects--wrapper {
    margin: 0rem 1rem;
  }

  .img-groningen {
    width: 90%;
  }

  .img-framer {
    width: 90%;
  }

  .wrap_contactintro {
    grid-area: 4 / 1 / 4/ 3;
    justify-self: auto;
  }
}

/* @media (min-width: 415px) and (max-width: 1025px) {
  .wrap_imagecardone,
  .sm_overlay {
    min-width: 400px;
    max-width: 500px;
  }
} */
@media (min-width: 1400px) {
  .imagecard {
    /* max-width: 80%; */
  }
}

@media (hover: true) {
  .projects_desktop {
    display: inherit;
  }
  /* .projects_mobile {
    display: none;
  } */
}

/* Landscape phone to portrait tablet */
@media (max-width: 769px) {
  .container {
    width: 80%;
  }
  /* .assetframemask,
  .assetframe {
    width: 90% !important;
  } */
  /* .flexwrapper-blob {
    width: 200px !important;
  } */
}

/* @media (min-width: 768px) {
  .projects_mobile {
    display: none;
  } */

#gatsby-focus-wrapper
  > main
  > section.projects.projects_desktop
  > div:nth-child(2)
  > div:nth-child(2)
  > div
  > div {
  margin: 0 auto;
}
