/* Large desktop */
/* @media (min-width: 1200px) {
} */

/* Portrait tablet to landscape and desktop */
/* @media (min-width: 768px) and (max-width: 979px) {
} */

/* Landscape phone to portrait tablet */
/* @media (max-width: 767px) {
} */

/* Landscape phones and down */
/* @media (max-width: 480px) {
} */

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1200px) {
  .grid {
    padding: 3%;
    column-gap: 5%;
  }
  .img-groningen {
    border: 7px solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-image: linear-gradient(220deg, #ff6661, #ff9563) 1;
  }

  .img-framer {
    border: 7px solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-image: linear-gradient(220deg, #ff6661, #ff9563) 1;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

@media (min-width: 768px) {
  .projects_mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .projects_desktop {
    display: none;
  }

  .projects {
    padding: 4em 0em;
  }

  .sm_overlay {
    position: relative;
    height: 200px;
    padding: 0rem 1.5rem;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    background: #f3f3f3;
  }

  .sm_copy_projecttitle {
    min-width: 100px;
    font-size: 22px;
    letter-spacing: 0.5px;
    line-height: 1.9;
    font-weight: 600;
  }

  .sm_copy_projectlabel {
    font-size: 11px;
    letter-spacing: 0.5px;
    line-height: 1.9;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 1rem;
  }

  .sm_projectdescriptions {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    min-width: 300px;
  }

  /* the h1 for the main content sections */
  .subject {
    grid-area: 1/1/1/1;
    opacity: 1;
    font-size: 40px;
    justify-self: start;
    padding: 0rem 1.5rem;
  }

  .proj_subject {
    padding: 3rem 1.5rem;
  }

  .description {
    grid-area: 2 / 1 / 3 / 1;
    text-align: center;
    padding: 0rem 1.5rem;
  }

  .learnmore {
    float: none;
    grid-area: 4 / 1 / 4 / 1;
    justify-self: center;
  }

  .imagecard {
    height: auto;
    background: none;
    grid-area: 3 / 1 / 3 / 1;
  }
  .container {
    width: auto;
  }

  .grid_intro p {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    padding: 0rem;
    row-gap: 1.5rem;
  }

  h1 {
    font-size: 28px;
  }
  .grid_intro {
    row-gap: 1rem;
    padding: 0em 1em 0em 1em;
    width: auto;
    grid-template-rows: repeat(5, auto);
  }

  .titles {
    width: 60%;
    grid-area: 2 / 1 / 2 / 1;
    /* align-self: center; */
  }
  .slash {
    grid-area: 1 / 1 / 3 / 1;
  }
  .name {
    grid-area: 1 / 1 / 2 / 1;
  }
  .about {
    grid-area: 3 / 1 / 4 / 1;
    text-align: justify;
  }
  .role_paragraph {
    font-size: 10px;
    justify-self: end;
  }
  .Cards {
    grid-template-columns: 1fr;
  }

  .bio {
    display: inherit;
    max-height: none;
    padding: 3rem 0rem;
  }

  .framer {
    padding: 3rem 0rem;
  }

  .copy {
    font-size: 12px;
    opacity: 1;
    float: left;
  }

  .img-groningen {
    border: 5px solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-image: linear-gradient(220deg, #ff6661, #ff9563) 1;
  }

  .img-framer {
    border: 5px solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-image: linear-gradient(220deg, #ff6661, #ff9563) 1;
  }

  .wrap_contactintro {
    grid-area: 4 / 1 / 4/ 3;
    justify-self: auto;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
}
/* 
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 45%);
  }
} */
