html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

/* body {
  margin: 0;
  /* width: 100% !important;
  height: 100% !important; */

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap");
/* Border gradient border-image: linear-gradient(45deg, #ff6661, #ff9563)  */
/* Color palette
#eaded0
#138086
#eeb462
#cd7672 
#042639 
#022435
#7d7d7d hyperlink
#ff6661
#ececec // new light grey
#edf0f1 // light gray-blue
*/
/*  */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "serif";
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* background: #f5f5f5; */
  /* background: #13161c; */
  /* background: #104048; */
  /* background: #042639; */
  background: #f5f5f5;
  margin: 0;
  line-height: 1.3;
}

p::selection,
h1::selection {
  background: #cd7672;
  color: white;
}

p::-moz-selection,
h1::-moz-selection {
  background: #cd7672;
  color: white;
}

h1 {
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p {
  line-height: 15px;
  color: #022435;
}
a {
  text-decoration: none;
  color: #ff6661;
}
.StateTest {
  height: 100px;
  width: 100px;
  background: #138086;
}
/* GENERAL */

.titleframer {
  grid-area: 1 / 1 / 2 / 1;
}

.titlebio {
  grid-area: 1 / 2 / 2 / 3;
}

.carddescriptionleft {
  align-self: start;
  grid-area: 2/ 1 / 3 / 1;
}

.carddescriptionright {
  align-self: start;
  grid-area: 2/ 2 / 3 / 2;
}

.copy {
  font-size: 14px;
  line-height: 1.8;
  text-align: justify;
  text-justify: inter-word;
}

.learnmore {
  letter-spacing: 2px;
  display: inline-block;
  color: #022435;
  font-weight: 900;
  text-decoration: underline solid #ff6661;
  font-size: 0.65em;
  padding: 1rem 0em 0em 0em;
}

.Header-Navigation {
  z-index: 10;
}

.Cont-Navigation {
  bottom: 0px;
  position: fixed;
  left: 10%;
}

/* SECTIONS */

/* OTHERS */

.Header-Navigation {
  display: flex;
  justify-content: flex-end;
}

.WrapperWaveOne {
  overflow: hidden;
  width: 572px;
  right: 0;
  height: 270px;
  position: absolute;
}

.Cont-MyWaveOne {
  position: relative;
  z-index: 6;
  right: -10px;
  top: -10px;
}

.WrapperWaveTwo {
  overflow: hidden;
  width: 572px;
  right: 0;
  height: 270px;
  position: absolute;
}
.Cont-MyWaveTwo {
  position: relative;
  z-index: 7;
  right: -100px;
  top: -10px;
}

.Scroller_variants {
  width: 25px;
  height: 25px;
  bottom: 10px;
  position: fixed;
  left: 40%;
  margin-left: 12px;
}

.Scroller_experimenting {
  width: 25px;
  height: 25px;
  bottom: 10px;
  position: fixed;
  left: 60%;
  margin-left: 12px;
}

.IconEmail {
  width: 100px;
  height: 100px;
  bottom: 0px;
  display: none;
  position: fixed;
  left: 90%;
}

.LinkButton {
  color: black;
  font-size: 13px;
}

.Wrap-Name {
  font-family: "Playfair Display", serif;
  align-self: center;
}

.LinkButton {
  box-align: center;
}

.portrait {
  height: 140px;
  background: url("../images/dscf25012.jpeg");
  background-size: cover;
  background-position: center;
}

/* INTRODUCTION */

.intro {
  height: 100vh;
  align-content: center;
  align-items: center;
  display: grid;
  row-gap: 2em;
  grid-template-columns: 1fr auto auto 1fr 1fr;
  justify-items: center;
  grid-template-rows: repeat(2, 50px);
}

.intro h1 {
  color: #042639;
}

.slash {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: end;
}
.hi {
  grid-area: 1 / 2 / 2 / 2;
  justify-self: start;
}

.name {
  grid-area: 1 / 2 / 2 / 2;
  justify-self: start;
}

.titles {
  grid-area: 1 / 4 / 2 /5;
  justify-self: start;
  align-self: center;
}

.about {
  color: #042639;
  grid-area: 2 / 2 / 3 / 5;
  justify-self: start;
}

.intro p {
  color: #042639;
  font-size: 13px;
  padding-bottom: 5px;
  vertical-align: middle;
  line-height: 20px;
}
/* EDUCATION */
.grid-Education {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  /* grid-row-gap: 50px; */
  justify-items: start;
}

.item-Edu {
  height: 300px;
  width: 100px;
}

/* WORK */
.bio {
  height: 100vh;
  max-height: 700px;
  background: #ececec;
  display: flex;
  justify-content: center;
}

.grid {
  /* copied in here */
  display: grid;
  align-self: center;
  justify-content: center;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: 50px 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 1rem;
  padding: 4em;
}

.imagecard {
  height: 370px;
  width: 560px;
  justify-self: center;
  background: #f5f5f5;
}

.imgleft {
  grid-area: 1 / 1 / 3 / 1;
}

.imgright {
  grid-area: 1 / 2 / 4 / 2;
  background: #edf0f1;
}

.imagegroningen {
  /* top: -15px;
  left: -15px; */
  position: relative;
  border: 10px solid;
  border-image: linear-gradient(220deg, #ff6661, #ff9563) 1;
}

.imageplaceholder {
  width: 100%;
  height: auto;
  /* display: block; */
  background: #ecebe8;
  /* left: -50px;
  bottom: -100px; */
  position: relative;
}
.wrap_imagecardone {
  z-index: 2;
}

a:hover {
  text-decoration: underline;
}

.neuron {
  position: relative;
  right: 0;
}

.copy_projecttitle {
  min-width: 100px;
  text-transform: capitalize;
  color: "white";
  max-width: 200px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.9;
  font-weight: 600;
}

/* FRAMER */
.framer {
  min-height: 700px;
  display: flex;
  justify-content: center;
}

.Framer .learnmore {
  grid-area: 2 / 1 / 2 / 1;
  float: right;
  padding-top: 1em;
}

.imgframer {
  top: -15px;
  left: -15px;
  position: relative;
  border: 10px solid;
  border-image: linear-gradient(220deg, #ff6661, #ff9563) 1;
}

/* BIO */
.bio .learnmore {
  float: left;
}

/* PROJECTS */
.projects {
  background: #ececec;
  min-height: 70vh;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 50px 20px 20px auto;
  /* grid-column-gap: 50px; */
  justify-items: center;
  padding: 4em;
}

.overlay {
  padding-top: 1rem;
  position: absolute;
  /* height: 100%; */
  width: 400px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.subtitle_projects {
  font-family: "Open Sans", sans-serif;
  color: #042639;
  font-size: 9px;
  grid-area: 2 / 2 / 2 / 2;
  letter-spacing: 0.5px;
  line-height: 1.9;
  font-weight: 600;
  padding-bottom: 2rem;
  font-style: normal;
}

.role_paragraph {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.projectsTitle {
  color: #042639;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  grid-area: 1 / 2 / 1 / 2;
}

.card_projectone {
  position: relative;
  grid-area: 5 / 2 / 5 / 2;
  background: #edf0f1;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.card_projecttwo {
  position: relative;
  grid-area: 5 / 1 / 5 / 1;
  background: #e2e2e2;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.card_projectthree {
  position: relative;
  grid-area: 5 / 3 / 5 / 3;
  background: #e2e2e2;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.project_2 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  background: #ecebe8;
  height: 450px;
  width: 400px;
}

.project_3 {
  grid-area: 3 / 3 / 4 / 4;
  background: #ecebe8;
  height: 450px;
  width: 400px;
}

.projecttitle {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.9;
  font-weight: 600;
}

.projectlabel {
  grid-area: 4 / 2 / 4 / 2;
  font-family: "Open Sans", sans-serif;
  color: #5f5f5f;
  font-size: 11px;
  letter-spacing: 0.5px;
  line-height: 1.9;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 1rem;
}

.project1description {
  grid-area: 3 / 2 / 3 / 2;
}

.project2description {
  grid-area: 2 / 2 / 3 / 3;

  height: auto;
  width: 400px;
}

.project3description {
  grid-area: 2 / 3 / 3 / 4;

  height: auto;
  width: 400px;
}

ul {
  list-style: none; /* Remove default bullets */
  padding-top: 0.5em;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ff6661; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: 0em; /* Also needed for space (tweak if needed) */
}

.projectdescriptions {
  font-size: 13px;
  padding: 1rem 2rem 0rem 2rem;
  line-height: 1.5;
  text-align: justify;
  /* color: white; */
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  .intro {
    grid-template-columns: 50px 1fr;
    row-gap: 0em;
    padding: 0em 1em 0em 1em;
  }

  .titles {
    grid-area: 2/ 2 / 2 /3;
    text-align: end;
    justify-self: end;
  }
  .slash {
    grid-area: 1 / 1 / 3 / 1;
    justify-self: start;
  }
  .name {
    grid-area: 1 / 2 / 2 / 2;
    justify-self: end;
  }
  .about {
    grid-area: 3 / 1 / 4 / 3;
    justify-self: start;
    text-align: justify;
  }
  .role_paragraph {
    font-size: 10px;
    justify-self: end;
  }
  .imgleft {
    grid-area: 3 / 1 / 4 / 1;
  }
  .Cards {
    grid-template-columns: 1fr;
  }
  .bio {
    display: inherit;
  }
  .copy {
    font-size: 14px;
    opacity: 1;
  }
  .carddescriptionright {
    grid-area: 3/ 1 / 3 / 1;
  }
  .titlebio {
    grid-area: 1 / 1 / 1 / 1;
    opacity: 1;
    font-size: 46px;
  }
  .imgleft {
    grid-area: 2 / 1 / 3 / 1;
    width: 250px;
  }
  .imagecard {
    height: auto;
    background: none;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  .imagegroningen {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .framer,
  .projects {
    display: none;
  }
}
